.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 60vw;
  margin: 0 auto;
  padding: 2rem 0;
}

.gallery-item:nth-child(1) {
  border-top-left-radius: 20%;
}
.gallery-item:nth-child(4) {
  border-top-right-radius: 20%;
}
.gallery-item:nth-child(5) {
  border-bottom-left-radius: 20%;
}
.gallery-item:nth-child(8) {
  border-bottom-right-radius: 20%;
}

.gallery-item {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .gallery-container {
    width: 70vw;
  }
}
@media only screen and (max-width: 940px) {
  .gallery-container {
    width: 80vw;
  }
}

@media only screen and (max-width: 560px) {
  .gallery-container {
    grid-template-columns: 1fr 1fr;
    max-width: 80vw;
  }
  .gallery-item:nth-child(1) {
    border-top-left-radius: 20%;
  }
  .gallery-item:nth-child(2) {
    border-top-right-radius: 20%;
  }
  .gallery-item:nth-child(4) {
    border-top-right-radius: 0;
  }
  .gallery-item:nth-child(5) {
    border-bottom-left-radius: 0;
  }
  .gallery-item:nth-child(7) {
    border-bottom-left-radius: 20%;
  }
  .gallery-item:nth-child(8) {
    border-bottom-right-radius: 20%;
  }
}
