@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

html {
  font-size: 62.5%;
}

body {
  background-color: #f7f8fa;
  /* background-image: url('./images/test.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed; */
  font-size: 1.6rem;
  margin: 0;
  font-family: 'Patrick Hand SC', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  color: #010606;
}

.hidden {
  display: none;
}

.landing-header {
  color: #010606;
  margin: 0;
  text-align: center;
  font-size: 5rem;
  text-shadow: 0.4rem 0.4rem #f5dcff;
  line-height: 5rem;
}
